<br />
<br />
<br />
<% if !@user.errors.empty? %>
  <div class = "alert alert-danger">
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<br/>
<div class = "well">
  <%= form_for @user, html: { multipart: true } do |f| %>
    <%= f.label :name_of_file %>
    <%= f.text_field :name_of_file %>
    <%= f.label :file %>
    <%= f.file_field :file %>
    <%= f.submit "Save", class: "btn btn-primary" %>
  <% end %>
</div>