<br />
<br />
<div class="mt-4 progress-menu" style= "width: 100%; padding: 15px; margin: auto; background-image: linear-gradient(to bottom right, #24C6DC, #514A9D)">
  <div class="lead" style= "padding-top: .5rem; padding-left: .5rem; color: #FFFFFF">
    <h3> Currently you are using a free plan. Enjoy! </h3>
    <p> Total Space: 5 GB(<%= current_user.selected_plan %>) </p>
    <p> Total Usage: <%= get_total_file_sizes_in_use(@attachments,false)%> 
      <a href="/#pricing" type="button" class="ml-2 btn btn-success">
      Upgrade <span class="badge badge-light">NOW!</span>
      </a> 
    </p>
  </div>
  <div class="progress">
    <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: <%= (total_percentage_of_used_space(@attachments, current_user.selected_plan)) %>%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"> </div>
    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: <%= (total_percentage_of_non_used_space(@attachments, current_user.selected_plan)) %>%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"> </div>
  </div>
</div>

<% if !flash[:notice].blank? %>
  <div class = "mt-2 alert alert-info text-center">
    <ul>
      <li> <%= show_notice %> </li>
    </ul>
  </div>
<% end %>
<% if !flash[:error].blank? %>
  <div class = "mt-2 alert alert-danger text-center">
    <ul>
      <li> <%= show_error %> </li>
    </ul>
  </div>
<% end %>

<div class="mt-4 col-md-4 offset-md-4">
  <%= link_to '<i class="fa fa-cloud-upload"> Upload </i>'.html_safe, new_attachment_path, class: "btn btn-primary btn-lg btn-block"%>
</div>
<br />
<br />

<!-- <p> <%= human_readable_file_size_from_gb(@used_file_size_in_gb) %> </p> -->
<!-- <p> <%= @used_file_size_in_gb %> </p> -->

<div class="dashboard-panel table-responsive-md" style= "width: 100%; padding-left: 1rem; padding-right: 1rem; margin: auto;">
  <table class = "table table-bordered table-striped">
    <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th> Original Name </th>
      <th> File Size</th>
      <th> Upload Date</th>
      <th> Actions</th>
    </tr>
    </thead>

    <tbody>
      <% @attachments.each do |attachment| %>
        <tr>
          <td><%= attachment.name %></td>
          <td><%= attachment.file.filename %> </td>
          <td><%= get_file_size(attachment)%></td>
          <td> <%= attachment.file.created_at %></td>
          <td>
            <%= link_to '<i class="fa fa-trash"> Delete </i>'.html_safe,  attachment, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{attachment.name}?" %>
            <%= link_to '<i class="fa fa-download"> Download </i>'.html_safe, rails_blob_path(attachment.file, disposition: "attachment"), class: "btn btn-warning", style: "color:#FFFFFF;text-decoration:none" if attachment.file.attached? %>
            <%= link_to '<i class="fa fa-photo"> Preview </i>'.html_safe, url_for(attachment.file), class: "btn btn-info", style: "color:#FFFFFF;text-decoration:none" if attachment.file.attached? && attachment.file.image? %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>