<br />
<br />
<br />
<br />
<br />
<br />
<!-- this is for debugging -->
<div>
    <p> <%= @attachment.id %> </p>
    <p> <%= @attachment.name %> </p>
    <p> <%= @attachment.visible ? "true" : "false" %> </p>
    <p> <%= @attachment.download_count %> </p>
    <p> <%= @attachment.user_id %> </p>
</div>