<br />
<br />
<br />
<br />
<br />
<br />

<div>
    <p> <%= @attachment.id %> </p>
    <p> <%= @attachment.name %> </p>
    <p> <%= @attachment.visible ? "true" : "false" %> </p>
    <p> <%= @attachment.download_count %> </p>
    <p> <%= @attachment.user_id %> </p>
</div>